
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;          /* позволява body да расте според съдържанието */
  scroll-behavior: smooth;
}

body {
  background: url('https://tailoredcoachingmethod.com/wp-content/uploads/2023/03/anastase-maragos-4dlhin0ghOk-unsplash-scaled.jpg')
    no-repeat center center fixed;
  background-size: cover;
  padding-top: 35px;
  /* махаме display: flex и flex-direction: column */
}

.navbar {
  padding: 5px;
  margin: 0;
  width: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  width: 100%; 
  padding: 0 15px;
}

.navbar button {
  margin-left: 5px; 
  padding: 5px 10px; 
}

.navbar .navbar-nav {
  margin-left: 0;
  margin-right: 0;
}

#welcome {
  margin: 0;  
  font-size: 1.0rem;
  color: white;
  text-align: center;
}

.hero {
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
}

.hero .container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero h1 {
  color: #fff;
  text-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    margin-top: 10px;
}

.hero p {
  color: #f5f5f5;
}


.btn-danger {
  background-color: #dc3545;
  border: none;
  transition: 0.3s ease;
}

.btn-danger:hover {
  background-color: #ff4757;
  box-shadow: 0 0 15px rgba(255, 71, 87, 0.7);
}

.btn-outline-light:hover {
  color: #000;
  background-color: #fff;
}



.card-simple {
  background: rgb(150, 141, 141);
  border-radius: 10px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.card-simple:hover {
  transform: translateY(-5px);
  background: rgba(177, 175, 175, 0.743);
}


.footer {
  position: relative;
  width: 100%;
  color: #fff;
  margin-top: auto; 
}

.footer .overlay-footer {
  display: none;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}


/*
@media (max-width: 991.98px){
  .navbar-collapse.show .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0;
  }

  .navbar-collapse.show .navbar-nav .btn{
    max-width: 150px;
    width: auto;
    margin: 5px;
  }
}
  */